:root {
    --primary-0: #002B2C;
    --primary-1: #007687;
    --secondary-0: #2F1F28;
    --secondary-1: #BD899F;
}

@font-face {
    font-family: "Apercu Medium";
    src: url("../../assets/fonts/Apercu_Medium.otf") format("opentype");
}

@font-face {
    font-family: "Apercu Regular";
    src: url("../../assets/fonts/Apercu_Regular.otf") format("opentype");
}

@font-face {
    font-family: "Recoleta Bold";
    src: url("../../assets/fonts/Recoleta_Bold.otf") format("opentype");
}