:root {
    --primary-0: #131842;
    --primary-1: #5598DF;
    --secondary-0: #7C72DC;
    --secondary-1: #BDBD89;
}

@font-face {
    font-family: "Apercu Medium";
    src: url("../../assets/fonts/Apercu_Medium.otf") format("opentype");
}

@font-face {
    font-family: "Apercu Regular";
    src: url("../../assets/fonts/Apercu_Regular.otf") format("opentype");
}

@font-face {
    font-family: "Recoleta Bold";
    src: url("../../assets/fonts/Recoleta_Bold.otf") format("opentype");
}